<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EX2Kit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EX2KitOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>EX2KitResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5304A20E16901857009B2732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53D44EA215AA56C700CDD3B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F15ED6162B9F1B00C24FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F15EE8162B9F6800C24FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
